.widget-status-message, .widget-error-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
  display: none;
}

.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
  display: none;
  margin-bottom: 100px;
}
.outerwrapper .header {
  margin: 0px 0px 20px;
}
.outerwrapper .header h2 {
  padding: 10px 15px;
  margin: 0;
}
.outerwrapper .header p {
  padding: 0 15px;
  margin: 0px 0px 10px;
}
.outerwrapper .chart {
  position: relative;
  line-height: 0;
  margin: 0 15px 15px;
}
.outerwrapper .chart h3 {
  position: absolute;
  margin: 0;
  top: 20px;
  left: 10px;
  z-index: 99;
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.outerwrapper .chart svg {
  cursor: crosshair;
}
.outerwrapper .chart svg .country path {
  cursor: pointer;
}
.outerwrapper .key {
  margin-bottom: 10px;
}
.outerwrapper .key h3 {
  padding: 0 15px 5px;
  margin: 0;
}
.outerwrapper .key ul {
  margin: 0px 15px 0px 5px;
  padding: 0;
}
.outerwrapper .key li {
  display: inline-block;
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 5px;
  border-top-style: solid;
  border-top-width: 10px;
  line-height: 1em;
  min-width: 50px;
  text-align: center;
}
.outerwrapper .key li:first-child {
  margin-left: 10px;
}
.outerwrapper .key li:last-child {
  margin-left: 10px;
  text-align: left;
}
.outerwrapper .widget-tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.outerwrapper .widget-tooltip p {
  padding: 0;
  margin: 0;
}
.outerwrapper .widget-tooltip span {
  color: #fff;
}
.outerwrapper .widget-tooltip-hidden {
  opacity: 0;
  pointer-events: none;
}
